@import "tailwindcss";

@plugin 'daisyui' {
  themes: nord --default, dark --prefersdark;
  /* themes: nord --default, dark --prefersdark; */
}

@theme {
  --font-heading: var(--font-poiret);
  --font-primary: var(--font-geist-sans);
}

[data-theme='nord'] {
  --color-base-300: var(--color-base-200);
}

[data-theme='dark'] {
  /* --color-base-300: oklch(16.842% 0.00002 271.152); */
  --color-base-300: var(--color-base-200);
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */